* {
   margin: 0;
   font-family: 'Open Sans', sans-serif;
   /* background-color: #ff0f0f; */


}

.btn-primary {
   background-color: #FD6E0A;
   font-weight: 600;
   font-size: 20px;
   color: #FFFFFF;
   border: 0;
   padding: 8px 26px;
   border-radius: 4px;
   
}

/* header section styles */


.container-title {
   color: #151414;
   margin-right: 30px;
}

.container-title1 {
   position: absolute;
   top: 170px;
   right: 220px;
   font-weight: 700;
   font-size: 65px;
}

.container-title3 {
   position: absolute;
   right: 220px;
   top: 235px;
   font-weight: 700;
   font-size: 65px;

}

.container-title2 {
   position: absolute;
   right: 220px;
   top: 298px;
   font-weight: 700;
   font-size: 65px;
}

/* .container-subtitle {
   position: absolute;
   top: 400px;
   right: 16px;
   font-weight: 400;
   font-size: 16px;
   margin-top: 24px;
} */
.container-text {
   position: absolute;
   right: 220px;
   top: 410px;
   font-weight: 400;
   font-size: 18px;
   text-align: right;
}

.btn-contact {
   position: absolute;
   top: 490px;
   right: 220px;
   background-color: #FD6E0A;
   font-weight: 600;
   font-size: 20px;
   color: #FFFFFF;
   border: 0;
   padding: 8px 26px;
   border-radius: 3px;
   margin-top: 32px;
}

/* failure section styles */

.failure-title {
   font-weight: 700;
   font-size: 40px;
   color: #151414;
   max-width: 100%;
   max-height: 100%;

}

.failure-subtitle {
   text-align: auto 90px 0px;
   position: absolute;
   margin-top: 22px;
   margin-bottom: 16px;
   color: #444343;
}

.failure-subtitle2 {
   font-weight: 400;
   font-size: 16px;
   margin-top: 30px;
   color: #444343;

}

.failure-main {

   position: absolute;
   top: 160%;
   left: 60%;
   transform: translate(-50%, -50%);
}

/* my plans styles */

.plans {
   text-align: center;
   justify-content: space-around;
   background-color: #d12929;
}

.plans-subtitle {
   justify-content: space-between;
   display: flex;
   text-decoration: none;
}

.myskills {
   color: #151414;
   margin-top: 50px;
   display: flex;
   text-align: center;
   justify-content: center;
   justify-content: space-evenly;
   margin-right: 60px;
   margin-left: 60px;

}

.skill-title {
   font-weight: 700;
   font-size: 26px;
   text-align: center;
}

.skill-sub-title {
   font-weight: 500;
   font-size: 22px;
   text-align: center;
   color: #737272;
}

/* plan section styles */
.myplans {

   color: #151414;
   margin-top: 860px;
   display: flex;
   text-align: center;
   justify-content: center;
   font-weight: 700;
   font-size: 40px;

}

/* gradient section styles */


.positive-section {
   /* display: flex; */
   background-image:
   linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(224, 46, 180, 0.73)),
   url('images/watch.png');
   text-align: center;
   justify-content: center;
   margin: 130px 210px;
   height: 377px;
   background-size: cover;


}

.btn-contact2 {
   background-color: #FFFFFF;
   font-weight: 600;
   font-size: 20px;
   color: #F15B22;
   border-radius: 6px;

   border: 0;
   padding: 18px 32px;
   border-radius: 3px;
   margin-right: 15px;
}

.positive-title {
   position: absolute;
   bottom: -1600px;
   left: 240px;
   color: #FFFFFF;
}

.positive-subtitle {
   padding-bottom: 24px;
   font-weight: 700;
   font-size: 40px;
}

/* footer styles */

.footer {
   display: flex;
   height: 500px;
   left: 0px;
   top: 2652.26px;
   margin-top: 130px;
   background-color: #151414;
   color: #F8F8F8;

}

.footer-title {

   margin: 100px 200px;
}

.footer-text {
   font-weight: 400;
   font-size: 16px;
}

.footer-subscribe {
   font-weight: 600;
   font-size: 25px;
}

input {
   width: 250px;
   height: 40px;
   border-radius: 5px;
   padding-left: 20px;
   background-color: #F8F8F8;
   font-weight: 400;
   font-size: 18px;
   margin-bottom: 16px;
}
